In [1]:
import numpy as np
import pandas as pd

In [2]:

churn_data = pd.read_csv("ch.csv")
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [3]:
churn_data.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.40,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.90,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [4]:
churn_data.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [5]:
churn_data.shape

(7043, 21)

In [6]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [7]:
churn_data.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [8]:
churn_data.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [9]:
churn_data.isnull().sum().sum()

11

In [10]:
churn_data["TotalCharges"].value_counts()

TotalCharges
20.20      11
19.75       9
20.05       8
19.90       8
19.65       8
           ..
6849.40     1
692.35      1
130.15      1
3211.90     1
6844.50     1
Name: count, Length: 6530, dtype: int64

In [11]:
# Convert Totalcharges data type to numeric so we can convert " "  to NAN

churn_data["TotalCharges"] = pd.to_numeric(churn_data["TotalCharges"] , errors = "coerce" )

# When you want to covert a column to numeric type or a datetime type,
# There may be some invalid characaters that cannot be converted to avaoid the error we uses this parameter


#(" " , "20")  converting to (NAN, 20)
print("Clean data")

Clean data

In [12]:
churn_data.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [13]:
churn_data = churn_data.dropna()   # drop Null values

In [14]:
churn_data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:
churn_data.duplicated().sum()

0

In [16]:
churn_data.shape

(7032, 21)

In [17]:
# Drop the extra columns customer ID

churn_data.drop(columns=["customerID"],inplace=True)

C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\367670780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data.drop(columns=["customerID"],inplace=True)

In [18]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [19]:
# Encoding - convert  categorical columns data to Numerical data

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le = LabelEncoder()

In [22]:
# Create a list with all object data type column so you canc onvert them to numerical

col_list =[ ]

for i in churn_data.columns:
  if ((churn_data[i].dtype =="object") & (i!="Churn")):
    col_list.append(i)

col_list

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [23]:
for i in col_list:
  churn_data[i]=le.fit_transform(churn_data[i])

C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])
C:\Users\Devan\AppData\Local\Temp\ipykernel_21948\778810938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=le.fit_transform(churn_data[i])

In [24]:
churn_data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,No
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,No
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,Yes
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,No
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50,No
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90,No
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,No
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60,Yes
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50,No

In [25]:
# Dividing the data into Independent variables and dependent varibale ( Target)

X=churn_data.iloc[: , :-1]
y= churn_data["Churn"]

In [26]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50

In [27]:
y

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7032, dtype: object

In [28]:
(churn_data["Churn"]=='Yes').sum()

1869

In [29]:
(churn_data["Churn"]=='No').sum()

5163

In [30]:
churn_data["Churn"].value_counts()

Churn
No     5163
Yes    1869
Name: count, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train , X_test , y_train , y_test =  train_test_split( X,y , test_size = 0.2 , random_state=0 , stratify=y)

In [33]:
# stratify = y will equally divide the values of dependent column between training and testing data

In [34]:
X_train # Independent variable of TRAINING

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
3786,1,0,1,1,27,1,2,1,0,0,0,0,0,0,0,1,0,75.75,1929.00
1593,1,0,1,1,4,1,0,2,1,1,1,1,1,1,0,0,3,18.85,84.20
2932,1,1,1,0,55,1,2,1,0,2,2,2,2,2,2,1,2,113.60,6292.70
198,1,0,1,1,72,1,2,1,0,2,2,2,2,2,2,1,0,112.25,8041.65
4512,0,1,0,0,70,1,2,0,0,2,2,2,2,0,2,1,0,75.50,5212.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6177,1,0,0,0,4,1,0,0,0,0,0,0,0,2,0,0,2,54.30,195.30
4551,1,0,1,1,56,1,2,1,0,2,0,2,2,0,0,1,1,96.95,5432.20
3963,0,0,0,0,68,1,0,2,1,1,1,1,1,1,2,0,1,19.60,1441.65
6139,1,0,0,1,3,1,0,2,1,1,1,1,1,1,0,0,0,20.20,50.60
6825,1,0,0,0,27,1,2,1,0,0,2,0,0,0,0,1,2,81.30,2272.80

In [35]:
y_train # Dependent variable of TRAINING

3786     No
1593     No
2932     No
198      No
4512     No
       ...
6177    Yes
4551     No
3963     No
6139     No
6825     No
Name: Churn, Length: 5625, dtype: object

In [36]:
X_test # Independent variable of TESTING

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5134,1,1,0,0,15,1,2,1,0,2,0,0,0,0,0,1,2,80.20,1217.25
2428,1,0,0,1,38,1,2,1,0,0,2,0,2,2,0,1,0,99.25,3777.15
2503,1,0,1,1,44,1,0,2,1,1,1,1,1,1,1,0,0,20.60,926.00
3119,0,1,1,0,32,1,2,1,0,0,0,0,2,0,0,1,1,85.95,2628.60
2534,1,0,1,0,69,1,2,1,2,2,2,2,0,2,1,1,1,107.20,7317.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2356,1,0,0,0,46,1,0,0,0,0,0,0,0,0,0,1,1,45.20,2065.15
3643,0,0,1,0,53,1,0,2,1,1,1,1,1,1,1,0,1,19.05,990.45
6713,1,1,0,0,68,1,2,1,0,2,2,0,0,2,0,1,2,95.90,6503.20
6627,0,0,1,0,59,1,0,2,1,1,1,1,1,1,1,0,3,20.35,1267.00
6019,0,0,0,0,41,1,2,0,0,2,2,0,2,2,1,1,2,80.55,3263.90

In [37]:
y_test # Dependent variable of TESTING

5134    Yes
2428    Yes
2503     No
3119    Yes
2534     No
       ...
2356     No
3643     No
6713     No
6627     No
6019     No
Name: Churn, Length: 1407, dtype: object

In [38]:
from random import Random

from sklearn.ensemble import RandomForestClassifier

In [39]:
RF_model1 = RandomForestClassifier(n_estimators=100)  # Number of decision trees that you want to use = 100

In [40]:
# Train the Random forest model
RF_model1.fit(X_train , y_train)

RandomForestClassifier()

In [41]:
# Test the Random forest model
ans = RF_model1.predict(X_test)

In [42]:
ans

array(['Yes', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [43]:
from sklearn.metrics import *

In [44]:
accuracy_score(ans , y_test)

0.7910447761194029

In [45]:
cm = confusion_matrix(ans ,y_test)
cm

array([[937, 198],
       [ 96, 176]], dtype=int64)

In [46]:
'''                   Actual
                  YES         NO

Predicted  Yes    TP         FP

           No     FN         TN

Accuracy = TP+TN  / ( TP+TN+FP+FN)
Accuracy = 948+179 / ( 948+195+85+179)
Accuracy =  1127 / 1407
Accuracy = 0.8009950248756219

'''

'                   Actual\n                  YES         NO\n\nPredicted  Yes    TP         FP\n\n           No     FN         TN\n\nAccuracy = TP+TN  / ( TP+TN+FP+FN)\nAccuracy = 948+179 / ( 948+195+85+179)\nAccuracy =  1127 / 1407\nAccuracy = 0.8009950248756219\n\n'

In [47]:
1127 / 1407

0.8009950248756219

In [48]:
#  Use Different values of n_estimator to find which optimal no of DT is going to give us highest accuracy in Random Forest

n=[50,100,200,300,400,500,600,700,800,900,1000]

accuracy = [ ]   # In this list i am going to store all the accuracy

for i in n:
  model = RandomForestClassifier(n_estimators=i)
  model.fit(X_train , y_train)                      # Training the model
  ans =model.predict(X_test)                        # Testing the model
  a=accuracy_score(y_test,ans)*100
  accuracy.append(a)

In [49]:
accuracy

[79.45984363894812,
 78.67803837953092,
 78.96233120113718,
 78.60696517412936,
 79.74413646055437,
 79.60199004975125,
 79.24662402274343,
 79.60199004975125,
 79.38877043354655,
 80.17057569296375,
 79.8862828713575]

In [50]:
d={"Number of Trees" : n , "Accuracy of them in RF":accuracy}
df=pd.DataFrame(d)
df

    Number of Trees  Accuracy of them in RF
0                50               79.459844
1               100               78.678038
2               200               78.962331
3               300               78.606965
4               400               79.744136
5               500               79.601990
6               600               79.246624
7               700               79.601990
8               800               79.388770
9               900               80.170576
10             1000               79.886283